/* Fonts we use = poppins */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #fef9f6;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 70px;
  padding: 18px;
}
.logo {
  font-family: "poppins", sans-serif;
  display: flex;
  align-items: center;
  gap: 5px;
}
.logo-icon {
  width: 40px;
  height: 40px;
  color: #f97316;
}

/* .navigation {
  display: flex;
  flex-direction: column;
} */

.navigation-items {
  display: flex;
  align-items: center;
  gap: 30px;
  /* justify-content: space-between; */
}
.navigation-lists {
  list-style: none;
  cursor: pointer;
}

.navigation-links {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.navigation-links:hover {
  color: #f97316;
}

footer {
  background-color: #1e293b;
}

.footer-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 88px;
  gap: 12px;
  /* background-color: #1e293b; */
}
.f-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.logo-text {
  color: #fff;
}
.logo-description {
  color: #aaa;
}
/* Hero section styling */
.hero {
    height: 90vh;/* Full screen height minus navbar */
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('./images/hero-img (2).jpg') center/cover no-repeat; /* Background image with overlay */
    display: flex;
    justify-content: center;
    /* center horizontally */
    align-items: center;
    /* center vertically */
    text-align: center;
    padding: 16px;
}

.hero-content {
    padding-right: 35%;
    border-radius: 10px;
    color: white;
    font-family: 'Poppins', serif;
}

.hero-content h1 {
    font-size: 60px;
    font-weight: 500;
    white-space: nowrap;
    max-width: 400px;
}

.hero-content p {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom:1.5rem;
    
}
.btn-container {
  text-align: left; /* moves the button to the right */
  margin-bottom: 2.5rem;
}
.btn  {
  background: #f97316;
  font-weight: 460;
  color: #fff;
  border: none;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* .footer-nav-links {
} */
.f-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
}
.f-navigation h2 {
  color: #fff;
}
.f-navigation-items {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.f-navigation-links {
  color: #aaa;
}

.footer-social-meadia-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.footer-social-meadia-links {
  color: #fff;
}
.social-icon {
  cursor: pointer;
  color: #aaa;
}
.social-icon:hover {
  color: #fff;
}
.footer-line {
  margin: 30px auto 10px;
  border: none;
  border-top: 1px solid #334155; /* slightly lighter than bg */
  width: 85%;
}

.footer-bottom {
  text-align: center;
  padding: 10px;
  font-size: 18px;
  color: #94a3b8;
}
